﻿@inherits System.Web.Mvc.WebViewPage<SimpleSocialLogin.Models.LoginModel>
@using System.Web.Mvc.Html

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            <div>
                @Html.LabelFor(m => m.Username)
                @Html.TextBoxFor(m => m.Username)
            </div>
            <div>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </div>
            <div>
                <input type="submit" value="login" />
            </div>
        }
    </div>

    @foreach (var provider in Model.Providers)
    {
        <div>
            @Html.ActionLink("Login with " + provider.Caption, "SocialLogin", new { id = provider.AuthenticationType })
            </div>
    }

</body>
</html>