﻿@using System.Web.Mvc.Html
@inherits System.Web.Mvc.WebViewPage

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
    <div>
        Secret page is here
    </div>
    <div>
        @foreach (var claim in ((System.Security.Claims.ClaimsPrincipal)User).Claims)
        {
            <div>
                <span>@claim.Type</span> :
                <span>@claim.Value</span>
            </div>
        }
    </div>

    <div>
        @Html.ActionLink("logout", "Logout", "Auth")
    </div>
</body>
</html>